@model SeguradoModel
@{
    ViewData["Title"] = "Confirmação de exclusão do Segurado";
}

<div class="text-center">
    <h3>Realmente deseja apagar o segurado: <b>@Model.Nome</b>?</h3>

    <a class="btn btn-primary" role="button" asp-controller="Segurado" asp-action="Index">Cancelar Exclusão</a>
    <a class="btn btn-danger " role="button" asp-controller="Segurado" asp-route-id="@Model.Id" asp-action="Apagar">Confirmar Exclusão</a>

</div>