<div class="text-center">
    <h3>Você não tem permissão para acessar esse campo</h3>

    <h5>Voltar a pagina principal</h5>

    <a class="btn btn-primary" role="button" asp-controller="Home" asp-action="Index">Voltar</a>
</div>